---
import MySiteLayout from "../layouts/MySiteLayout.astro"
import { getCollection } from 'astro:content';

const blogEntries = await getCollection('blog');

const description = "I started blogging in 2024 to share anything that I found interesting, useful, or beneficial. You can see all of my posts here. "

---

<MySiteLayout title="Blog">


    <div class="p-4 space-y-6">
        <h1 class="text-4xl font-bold">My Blog</h1>
        <p class="text-xl">{description}</p>

        <div class="flex justify-center">
            <table class="table-auto border-spacing-10 border-separate  w-full">
                <thead>
                <tr>
                    <th class="text-4xl text-left">Title</th>
                    <th class="text-4xl text-left">Date</th>
                </tr>
                </thead>
                <tbody>

                {blogEntries.map(blogPostEntry => (
                        <tr>
                            <td>
                                <a class="text-2xl hover:text-primary" href={`/posts/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>

                            </td>
                            <td>
                                <time class="text-2xl" datetime={blogPostEntry.data.publishedDate}>
                                    {blogPostEntry.data.publishedDate}
                                </time>
                            </td>

                        </tr>
                ))}

                </tbody>
            </table>
        </div>


    </div>
</MySiteLayout>