---
import {getCollection} from "astro:content";
import {LINK_STYLE} from "../data/constants"

const blogEntries = await getCollection('blog');


---
<table class="table-auto border-spacing-10 border-separate w-full">
    <thead>
    <tr>
        <th class="text-2xl text-left">Title</th>
        <th class="text-2xl text-left">Published Date</th>
        <th class="text-2xl text-left">Tags</th>
    </tr>
    </thead>
    <tbody>

    {blogEntries.map(blogPostEntry => (
            <tr>
                <td>
                    <a class={LINK_STYLE + " text-xl"} href={`/posts/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
                </td>
                <td>
                    <time class="text-xl" datetime={blogPostEntry.data.publishedDate}>
                        {blogPostEntry.data.publishedDate}
                    </time>
                </td>
                <td>
                    {blogPostEntry.data.tags}
                </td>

            </tr>
    ))}

    </tbody>
</table>